<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
  <link rel="stylesheet" href="node_modules/angular-ivh-treeview/dist/ivh-treeview.css">
  <link rel="stylesheet" href="node_modules/angular-ivh-treeview/dist/ivh-treeview-theme-basic.css">
</head>
<body ng-app="bin">

  <div ng-controller="DemoCtrl as demo">
    <h4>1. List the field hierarchy as a tree</h4>
    <div ivh-treeview="stuff">
    </div>

    <div>
      <h4>2. Add a button to be able to choose all checked fields</h4>
      <button ng-click="chooseFields('theend')">+</button>
    </div>

    <div>
      <h4>3. Show checked</h4>
      <pre>{{selectedFields}}</pre>
    </div>

    <div>
      <h4>4. Show all selected fields</h4>
      <select name="selectedFields"
          multiple
          ng-model="selectedField"
          ng-change="getSelectedFieldsValues(selectedField)"
          style="width:100px">
        <option ng-repeat="node in selectedFields" value="{{node.id}}">{{node.label}}</option>
      </select>
    </div>

    <div>
      <h4>5. Add a button to be able to remove a field</h4>
      <button ng-click="removeField('aaa')">-</button>
    </div>

    <div>
      <h4>6. Show all available value for current selected field</h4>
      <select name="selectedFieldsAvailableValues"
          multiple
          ng-model="selectedFieldsAvailableValue"
          ng-change="addValueToFilter(selectedFieldsAvailableValue)"
          style="width:100px">
        <option ng-repeat="value in selectedFieldsAvailableValues" value="{{value}}">{{value}}</option>
      </select>
    </div>

    <div>
      <h4>7. Value cache</h4>
      <pre>{{valueCache}}</pre>
    </div>

    <div>
      <h4>8. Filter</h4>
      <pre>{{filter}}</pre>
    </div>

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="node_modules/angular-ivh-treeview/dist/ivh-treeview.js"></script>
  <script src="app.js"></script>
</body>
</html>
